<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/assets/css/login.css" />
    <title>Reddit Personal Client</title>
</head>

<body>
    <div class="user-registration">
        <div class="logo-container-div">
            <div class="logo-text-div">Declutter</div>
            <div class="logo-div">
                <img class="reddit-logo" src="static/assets/images/reddit-logo.svg" />
            </div>
        </div>
        <div class="sign-up-link-dev">
            <a class="signup-anchor"
                href="https://www.reddit.com/api/v1/authorize?client_id=<%=clientId%>&response_type=code&state=dalsdkakd&redirect_uri=<%=redirectUri%>&duration=permanent&scope=identity,history,read">
                <button type="button" class="sign-up-button">
                    LOGIN WITH REDDIT
                </button>
            </a>
        </div>
    </div>
</body>

</html>