<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/assets/css/login.css" />
    <title>Declutter - Search through saved reddit posts</title>
</head>

<body class="dark:bg-slate-400">
    <div class="flex h-screen bg-slate-50 dark:bg-slate-400">
        <div class="m-auto">
            <p class="font-mono text-center font-bold leading-6">welcome to declutter</p>
            <a
                href="https://www.reddit.com/api/v1/authorize?client_id=<%=clientId%>&response_type=code&state=dalsdkakd&redirect_uri=<%=redirectUri%>&duration=permanent&scope=identity,history,read">
                <div
                    class="shadow-lg hover:shadow-none font-mono text-center font-bold leading-6 overflow-hidden dark:divide-slate-700 rounded-b-md cursor-pointer p-5 text-slate-400 bg-white dark:bg-slate-800">
                    LOGIN WITH REDDIT
                </div>
            </a>
        </div>
    </div>
</body>

</html>